# Copie este arquivo para .env e preencha os valores
DATABASE_URL=mysql+pymysql://root:SUA_SENHA@localhost:3306/filmes_brasil #VARIAVEL DE AMBIENTE PARA CONEXÃO COM O BANCO DE DADOS

DATABASE_URL=mysql+pymysql://root:bcd%40127@localhost:3306/filmes_brasil #TESTE SEM DOCKER

wsl --install -d Ubuntu